@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.left-slider{
    height: 100vh;
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
.profile-image{
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin-top: -50px;
}
.left-name h2{
    margin-bottom: 20px;
}
.left-name p{
    margin: 0px 0;
}
.left-name{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-name span{
    color: #3498db;
}
.navbar{
    display: flex;
    margin-top: 20px;
}
.links{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.links>a{
    text-decoration: none;
    color: #57606f;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    box-sizing: border-box;
    border: 3px solid transparent;
    padding-top: 15px;
}
.links>a:hover{
    color: #1e90ff;
    border-bottom: 2px solid #1e90ff;
}
.right-slider{
    width: 55vw;
    position: absolute;
    left: 37%;
}
.page-end{
    display: flex;
    justify-content: center;
    color: #57606f;
    font-size: 10px;
    margin-top: 30px;
}
.details{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafbfb;
}
.home-container{
    display: flex;
}
.my-details{
    height: 50%;
    width: 60%;
    position: absolute;
    top: 8%;
    left: 10%;
}
.my-details h1{
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    padding-top: 10px;
}
.my-details p{
    padding-top: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
}
.my-details button{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border: 1px solid #ced6e0;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.my-details button:hover{
    background-color: #ced6e0;
}
.about-details{
    width: 85%;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 50px;
}
.about-details h1{
    margin-top: 50px;
    font-size: 35px;
    padding-bottom: 20px;
}
.about-details p{
    font-weight: 100;
    color: #656e7c;
    font-size: 15px;
    line-height: 27px;
    padding-top: 30px;
}
.about-details span{
    color: black;
}
.my-skills{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    display: flex;
}
.skill{
    width: 150px;
    height: 130px;
    display: flex;
    padding-left: 10px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    -webkit-box-shadow: 8px 8px 10px 0px rgba(186,180,186,1);
    -moz-box-shadow: 8px 8px 10px 0px rgba(186,180,186,1);
    box-shadow: 8px 8px 10px 0px rgba(186,180,186,1);
}
.my-skills .skill:nth-child(1) {
    border-bottom: 2px solid red;
}

.my-skills .skill:nth-child(2) {
    border-bottom: 2px solid yellow;
}

.my-skills .skill:nth-child(3) {
    border-bottom: 2px solid green;
}

.my-skills .skill:nth-child(4) {
    border-bottom: 2px solid blue;
}
.service-head,.tool-head,.contact-head{
    height: 18vh;
    width: 100%;
}
.service-head h4,.tool-head h4,.contact-head h4{
    letter-spacing: 4px;
    font-size: 11px;
    color: #656e7c;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.services-title,.tool-title,.contact-title{
    width: 40%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 3px;
    margin-top: 4%;
}
.services-title h3,.tool-title h3,.contact-title h3{
    font-size: 22px;
}
.sevices-body{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.services{
    height: 100%;
    width: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
.service-logo{
    rotate: 30deg;
    position: relative;
    top: 40px;
    height: 120px;
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
}
.service-body{
    height: 90%;
    width: 100%;
    -webkit-box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
    -moz-box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
    box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
}
.service-1{
    border-bottom: 3px solid #2980b9;
}
.service-2{
    border-bottom: 3px solid #c0392b;
}
.service-3{
    border-bottom: 3px solid #f1c40f;
}
.s-logo-1{
    background-color: #2980b9;
}
.s-logo-2{
    background-color: #c0392b;
}
.s-logo-3{
    background-color: #f1c40f;
}
.service-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-logo > svg{
    rotate: -30deg;
}
.service-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px 10px 20px;
}
.service-body h3{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.service-body p{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: #656e7c;
}
.tools-container{
    height: 110vh;
}
.tool-body{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.tool-div{
    width: 100%;
    height: 30%;
    display: flex;
}
.t-1{
    justify-content: space-between;
}
.t-2{
    justify-content: space-around;
}
.tool{
    width: 18%;
    height: 100%;
    -webkit-box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
    -moz-box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
    box-shadow: 11px 15px 22px 3px rgba(163,169,179,0.61);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.tool img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.tool img:hover{
    transform: scale(1.1);
}
.contact-container{
    height: 100vh;
    width: 100%;
}
.contact-body{
    width: 100%;
    height: 60%;
    display: flex;
}
.contact-left,.contact-right{
    border: 1px solid red;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.c-details{
    width: 95%;
    height: 25%;
    display: flex;
    align-items: center;
}
.c-details-log{
    height: 80%;
    width: 120px;
    border: 1px solid red;
}
.c-details-desc{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.c-details-desc p{
    margin-bottom: -2px;
    color: #656e7c;
}