@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.left-slider{
    height: 100vh;
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
.profile-image{
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin-top: -50px;
}
.left-name h2{
    margin-bottom: 20px;
}
.left-name p{
    margin: 0px 0;
}
.left-name{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-name span{
    color: #3498db;
}
.navbar{
    display: flex;
    margin-top: 20px;
}
.links{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.links>a{
    text-decoration: none;
    color: #57606f;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    box-sizing: border-box;
    border: 3px solid transparent;
    padding-top: 15px;
}
.links>a:hover{
    color: #1e90ff;
    border-bottom: 2px solid #1e90ff;
}
.right-slider{
    border: 1px red solid;
    height: 100vh;
    width: 55vw;
    position: absolute;
    left: 38%;
}
.page-end{
    display: flex;
    justify-content: center;
    color: #57606f;
    font-size: 10px;
    margin-top: 30px;
}
.details{
    width: 100%;
    border: 1px red solid;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-container{
    display: flex;
    background-color: #f1f2f6;
}
.my-details{
    height: 50%;
    width: 60%;
    position: absolute;
    top: 35%;
    left: 10%;
}
.my-details h1{
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    padding-top: 10px;
}
.my-details p{
    padding-top: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
}
.my-details button{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border: 1px solid #ced6e0;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.my-details button:hover{
    background-color: #ced6e0;
}
.about-details{
    width: 85%;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 50px;
}
.about-details h1{
    margin-top: 50px;
    font-size: 35px;
}